################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESP8266_Solar_project/ESP8266_Solar_project/Debug/ESP8266_Solar_project.map
