################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESP8266_Solar_project/ESP8266_Solar_project/Debug/ESP8266_Solar_project.map
ESP8266_Solar_project/.vs/ESP8266_Solar_project/v15/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ESP8266_Solar_project/v15/.suo
